name: persistent_header_adaptive
description: This ia a package that provide capability to create SliverPersistentHeader with intrinsic height
version: 2.1.0
homepage: https://github.com/camillobucciarelli/persistent_header_adaptive
platforms:
  android:
  ios:
  linux:
  macos:
  web:
  windows:

environment:
  sdk: '>=2.19.1 <4.0.0'
  flutter: '>=3.10.1'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_lints: ^2.0.2
  flutter_test:
    sdk: flutter
